<div class="homeimg">
    <img src="images/home/img01.jpg" alt="avion">
</div>
<div class="columnas">
    <div class="bienvenidos">
        <h2>Welcome</h2>
       <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat,
          iste? Doloribus tenetur officiis dolorum eos neque similique non
          rerum accusamus obcaecati, fugit ullam ea saepe quaerat minus culpa
          quibusdam eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus recusandae repellendus quis velit nisi ullam aut, facere quas commodi optio dolorum qui tempore? Veniam libero omnis nam corrupti quas. Hic.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
          molestias rem amet alias nesciunt nemo atque quos. onsectetur adipisicing elit
          tenetur dicta tempore! Sed, eos voluptas magni asperiores ipsum
          officia ad Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam obcaecati dolor tempora, non nemo sed fugiat, cupiditate similique vitae consequuntur sequi pariatur voluptas alias, aliquam ipsum laborum! Nulla, iure deleniti
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga aut rerum, consequatur quasi nobis id tempora cupiditate ex nesciunt facere unde modi facilis quia non dicta alias, earum deleniti iure?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cum neque officiis modi dicta. Corporis voluptas ad voluptatibus suscipit fugiat exercitationem quaerat laborum omnis eaque, ratione illo esse eveniet aperiam nobis! Perferendis onsectetur adipisicing.</p>
    </div>
    <div class="testimonios">
        <h2>Testimony</h2>
        <div class="testimonio">
            <span class="cita">The best cybersecurity company</span>
            <span class="autor">Charles Morrinson -CEO Dynasty</span>
        </div>
    </div>
</div>