<section class="historia">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore magnam at nostrum cupiditate. Hic delectus dicta,
        aliquam similique voluptatibus, unde impedit deserunt, libero totam accusantium autem distinctio quibusdam
        veritatis iste?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis ratione molestiae illum, in eum error, maxime
        maiores architecto nisi aspernatur quia optio quod. Nisi, rerum quis voluptatem architecto molestias natus.</p>
</section>
<section class="staff">
    <h2>Staff</h2>
    <div class="personas">
        <div class="persona">
            <img src="images/nosotros/1.jpeg" alt="Peter Shelby - CEO">
            <h5>Peter Shelby</h5>
            <h6>CEO</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi ex, minus beatae fugit eligendi, tempora
                dolores porro ullam dolor et debitis hic eum vero tempore. Pariatur fugit earum quam voluptatem.</p>

        </div>
        <div class="persona">
            <img src="images/nosotros/3.jpeg" alt="Carol Thompson - Sales">
            <h5>Carol Thompson</h5>
            <h6>Sales</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi ex, minus beatae fugit eligendi, tempora
                dolores
                porro ullam dolor et debitis hic eum vero tempore. Pariatur fugit earum quam voluptatem.</p>

        </div>
        <div class="persona">
            <img src="images/nosotros/2.jpeg" alt="Richard Evans - Community Manager">
            <h5>Richard Evans</h5>
            <h6>Community Manager</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi ex, minus beatae fugit eligendi, tempora
                dolores
                porro ullam dolor et debitis hic eum vero tempore. Pariatur fugit earum quam voluptatem.</p>

        </div>
        <div class="persona">
            <img src="images/nosotros/5.jpeg" alt="Tom Foster - Front-end">
            <h5>Tom Foster</h5>
            <h6>Front-end Developer</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi ex, minus beatae fugit eligendi, tempora
                dolores
                porro ullam dolor et debitis hic eum vero tempore. Pariatur fugit earum quam voluptatem.</p>

        </div>
        <div class="persona">
            <img src="images/nosotros/4.jpeg" alt="Kristen Jones - Back-end">
            <h5>Kristen Jones</h5>
            <h6>Back-end Developer</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi ex, minus beatae fugit eligendi, tempora
                dolores
                porro ullam dolor et debitis hic eum vero tempore. Pariatur fugit earum quam voluptatem.</p>
        </div>
    </div>
</section>